<div class="sidebar">
  <ul class="channel-list">
    <li class="channel">
      <div class="title">{{ channel?.title }}</div>
      <div class="description">{{ channel?.description }}</div>
    </li>
    <li class="channel">
      <div class="title">{{ channel?.title }}</div>
      <div class="description">{{ channel?.description }}</div>
    </li>
    <li class="channel">
      <div class="title">{{ channel?.title }}</div>
      <div class="description">{{ channel?.description }}</div>
    </li>
    <li class="channel">
      <div class="title">{{ channel?.title }}</div>
      <div class="description">{{ channel?.description }}</div>
    </li>
  </ul>
</div>
