<div id="navigation-wrap">
    <div class="inner">
        <nav class="navigation" aria-label="Menu">
            <div class="menu-container">
                <div class="menu-pre-header-container">
                    <ul id="menu-pre-header" class="pre-menu">
                        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/rssfeeds" routerLinkActive="active">RSS Feeds</a></li>
                        <li><a href="https://github.com/kirandash" target="_blank"><i class="fab fa-github"></i> Github</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>